model_version: 2.0
product_va_config:
    name: Assurance Augmentation Service
    product_name: eric-oss-assurance-augmentation
    version: {version}
    va_template_version: 2.0.0
    description: Assurance Augmentation Service with Bob based CI and release automation pipelines
    images:
        - /eric-oss-assurance-augmentation:{version}
 
    mitigations:
        # Critical
        CVE-2018-6913:
            category: UT
            severity_based_on_risk_assessment: MEDIUM
            description_of_usage: >-
                test
            likelihood_of_attack: >-
                Low.
            impact: Low. 
            evaluation:
                status: UT
                rationale: >-
                    Severity Based on Risk Assessment: MEDIUM

                    Description of Usage:
                    test

                    Likelihood of attack:
                    Low.
                    Impact: (in case of successful exploit):
                    Medium.
            mitigation: >-
                Uplift CBOS to the next version
            sce:
                sce-id: SCE-1234-00
                status: Pending
                expires: 2022-12-10T00:00:00Z

